header, footer{
    background-color: dimgrey;
    color: snow;
}
.g7{
    display: flex;
    justify-content: flex-end;
    text-decoration: dotted;
}
.awv{
    display: flex;
    justify-content: center;
}
.link{
    width: 30px;
}
.contactos{
    display: flex;
    flex-direction: column;
}
body{
    background: url('../img/jGlzr.png') repeat-x 0 0 scroll;
    background-color:#0C0C0C;
    height:99%;
    width:99%;
}
.div-intro{
    min-height: 75px;
}
.iss{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.am{
    width: 250px;
}
.mat{
    display: flex;
    justify-content: flex-start;
    flex-direction: column
}  
.tias{
    width: 250px;
}
.perido{
    display: flex;
    justify-content: space-between;
}
.line{
    border-color: chocolate;

}