header, footer{
    background-color: dimgrey;
    color: snow;
}
.g7{
    display: flex;
    justify-content: flex-end;
    text-decoration: dotted;
}
.awv{
    display: flex;
    justify-content: center;
}
.link{
    width: 30px;
}
.contactos{
    display: flex;
    flex-direction: column;
}
body{
    background: url('../img/jGlzr.png') repeat-x 0 0 scroll;
    background-color:#0C0C0C;
    height:99%;
    width:99%;
}
.div-general{  
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}
.div-intro{
    min-height: 75px;
      }

